html{
   box-sizing: border-box;
}

*,
*::after,
*::before{
   box-sizing: inherit;
   padding: 0;
   margin: 0;
}

body{
   min-width: 320px;
   min-height: 100vh;
   font-family: "Open Sans" Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 500;
   color: #110303;
   background-color: #fff;
}

img{
   max-width: 100%;
   height: auto;
}

button{
   cursor: pointer;
   border: none;
   background-color: transparent;
}

a{
   text-decoration: none;
   color: inherit;
}

address{
   font-style: normal;
}

ul{
   list-style-type: none;
}